<table class='table' id='repos'>
  <tr>
    <th style='width: 50%'>Repository Name</th>
    <th>Status</th>
  </tr>
  <tbody>
    {{#each repo in model}}
    <tr>
      <td>
        {{repo.name}}
        {{fmt-commit repo.version repo.url}}
      </td>
      <td>
        {{#if repo.checking}}
          Checking for new version...
        {{else}}
          {{#if repo.upToDate}}
            Up to date
          {{else}}
            <div class='new-version'>
              <h4>New Version Available!</h4>
              <ul>
                <li>Changes: {{fmt-changelog repo.version repo.latest.version repo.url}}</li>
              </ul>
              {{#if repo.upgrading}}
                <button class="btn btn-primary" {{action "upgrade" repo}}>Currently Upgrading...</button>
              {{else}}
                <button class="btn btn-primary" {{action "upgrade" repo}} disabled="{{upgradeDisabled}}">Upgrade to the Latest Version</button>
              {{/if}}
            </div>
          {{/if}}
        {{/if}}
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
