<div class="top-nav clearfix">
  <div class="top-content">
    <div class="top-name">
      Administration
    </div>
  </div>
</div>
<div class="main-content">
  <div class="nav tab-nav">
    {{#link-to 'admin.addons'}}{{fa-icon 'puzzle-piece'}} Addons{{/link-to}}
    {{#link-to 'admin.users'}}{{fa-icon 'users'}} Users{{/link-to}}
    {{#link-to 'admin.updates'}}{{fa-icon 'cloud-download'}} Updates{{/link-to}}
    {{#link-to 'admin.processes'}}{{fa-icon 'line-chart'}} Processes{{/link-to}}
  </div>
  <div class="nav-content admin">
    {{outlet}}
  </div>
</div>
