<h2 id="title">Welcome to Ember.js</h2>

{{#if session.isAuthenticated}}
  <a {{ action 'invalidateSession' }}>{{session.content.email}} Logout</a>
{{else}}
  {{#link-to 'login'}}Login{{/link-to}}
{{/if}}

<a {{action 'xhrtest'}}>Test</a>

{{outlet}}
