{{view 'adminnav'}}
<div class="sidebar">
  <div class="brandbar">
    <div class="brand">
      {{#link-to 'apps'}}
        <img src="images/logo.png" alt="">
        <h4>Pebblescape</h4>
      {{/link-to}}
    </div>

    {{#if session.isAuthenticated}}
    <div class="navbar-nav navbar-right">
      <a href="#" class="adminnav-toggle" {{action 'toggleAdminnav'}}>
        {{fa-icon 'th'}}
        {{fa-icon 'angle-down'}}
        {{fa-icon 'angle-up'}}
      </a>
    </div>
    {{/if}}
  </div>

  {{#if session.isAuthenticated}}
  <div class="userbar dropdown">
    <div class="clearfix">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
        <span class="avatar"><img {{bind-attr src=userGravatar}} /></span>
        <div class="email">
          <h5>
            {{session.content.email}}
            <i class="caret"></i>
          </h5>
        </div>
      </a>
      <ul class="dropdown-menu" role="menu">
        <li><a>Manage account</a></li>
        <li class="divider"></li>
        <li><a {{ action 'invalidateSession' }}>Log out</a></li>
      </ul>
    </div>
  </div>

  <div class="sidelinks">
    {{render 'favorites' model.favorites}}
  </div>
  {{/if}}
</div>
<div class="main-panel">
  {{outlet}}
</div>
